@import "../../vars.css";

.container{
    background-color: rgba(12, 12, 12, 0.6);
    width: 80vw;
    min-height: 15vh;
    padding-top: 4vh;
    margin-top: 5vh;
    border-radius: 30px;
    margin-left: 6.5vw;
    padding: 40px;
}

.title{
    color: var(--color-text);
    text-align: center;
}

.subcontainer{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 3vh;

}

@media screen and (max-width : 830px) {
    .container{
        padding: 0;
        background-color: transparent;
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .subcontainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }
}
